<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>URL Shorty</title>
  </head>

  <body>
    <br>
    <div class="container">
      <img src="shorty.PNG" alt="Happiness">
    </div><br>

    <!-- SEARCH BAR -->
    <div class="container">
      <form method="POST">
	<div class="col align-self-center">
	  <!-- <input type="text" name="URL" placeholder="Enter a URL to shorten.."> -->
	  <input type="text" name="URL" class="form-control" placeholder="Enter URL...">
	</div><br>
	<!-- <input type="submit" value="Submit"> -->
	<center><button type="submit" class="btn btn-primary">Get my short URL!</button></center>
      </form>
      </div>
    </div>

    <!-- ONLY POPULATE PAGE WITH URL INFO IF SUBMITTED IN WEBFORM ACCORDING TO APP.PY -->
    {% if long_url %}
    <br><br><center><p>{{long_url}}</p></center>
    {% endif %}

    {% if short_url %}
    <center><p><a href={{short_url}}>shorty.com/{{short_url}}</a></p></center>
    {% endif %}
  </body>

</html>
